%h1 Micro-Interview
.panel.panel-default
  .panel-body
    %p
    %strong Interview link:
    = link_to (root_url.chomp("/") + edit_micro_interview_path(@micro_interview.unique_id)), edit_micro_interview_path(@micro_interview.unique_id)
    %h3 Question
    %pre.scrollable.code= @micro_interview.question_text

= form_for @micro_interview, url: {action: "update", params: {id: @micro_interview.unique_id}} do |f|
  .form-group
    = f.label :name, "Your name"
    = f.text_field :name, class:"form-control"
  .form-group
    = f.label :email, "Your email"
    = f.text_field :email, class:"form-control"
  .form-group 
    = f.label :response_language, "Reponse language"
    = f.text_field :response_language, class:"form-control"
  .form-group
    = f.label :response_text, "Your response"
    = f.text_area :response_text, class:"form-control code", rows: 10

  = f.submit "Submit response", class:'btn btn-large btn-primary'
